{% extends "base.html" %}
{% block title %}Tech Blog | Search Result{% endblock %}
{% block blogactive %} active {% endblock blogactive %}
{% block body %}
<div class="container my-3">
    <!-- <div class="col-md-6"> -->
        <h2>Search Result:</h2>
        {% if allpost|length < 1 %}
        <p>No Search Results</p>
        <h5 class="my-4">Your search - <b>{{query | truncatechars:50 }}</b> - did not match any documents.</h5>
        <div class="my-4">
            <h6>Suggestions:</h6>
            <ul style="list-style-type:disc;">
                <li>Make sure that all words are spelled correctly.</li>
                <li>Try different keywords.</li>
                <li>Try more general keywords.</li>
            </ul>
        </div>
        {% else %}
        <h2>You Searched - <b>{{query}}</b></h2>
        {% endif %}
        {% for post in allpost %}
        <div class="row no-gutters border rounded overflow-hidden flex-md-row my-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">{{post.author}}</strong>
                <h3 class="mb-0">{{post.title}}</h3>
                <div class="mb-1 text-muted">{{post.time}}</div>
                <p class="card-text mb-auto">
                    {{post.content | truncatechars:300 }}
                </p>
                <div class="my-3">
                    <a href="/blog/{{post.slug}}" role="button" class="btn btn-primary">Continue reading</a>
                </div>
            </div>
            <div class="col-auto d-none d-lg-block">

            </div>
        </div>
        {% endfor %}
    <!-- </div> -->
</div>
{% endblock %}